<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>LogedIn Page</title>
  
</head>
<body>
    <%- include("./partials/nav.ejs") %>  
    
    
        <h1  class="text-center mt-4" >WElcome ! You are LogedIn</h1>
   
    
    <%- include("./partials/script.ejs") %>
</body>
</html>
